<!DOCTYPE html>
<html>
    {% extends 'story3/base.html' %}
    {% load static %}
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'story3/style.css'%}"/>
        <title>My Activities</title>
    </head>

    <body>
        {% block content %}
        <div class="aaa">
            <div class="bbb">
                <img src="{% static 'story3/icons/ii.jpg' %}">
                <img src="{% static 'story3/icons/nn.jpg' %}">
                <img src="{% static 'story3/icons/cc.jpg' %}">
                <img src="{% static 'story3/icons/oo.jpg' %}">
            </div>
            <div class="bbb">
                <img src="{% static 'story3/icons/bb.jpg' %}">
                <img src="{% static 'story3/icons/aa.jpg' %}">
                <img src="{% static 'story3/icons/kk.jpg' %}">
                <img src="{% static 'story3/icons/gg.jpg' %}">
            </div>
            <div class="bbb">
                <img src="{% static 'story3/icons/hh.jpg' %}">
                <img src="{% static 'story3/icons/ee.jpg' %}">
                <img src="{% static 'story3/icons/ll.jpg' %}">
                <img src="{% static 'story3/icons/nn.jpg' %}">
            </div>
            <div class="bbb">
                <img src="{% static 'story3/icons/oo.jpg' %}">
                <img src="{% static 'story3/icons/ff.jpg' %}">
                <img src="{% static 'story3/icons/bb.jpg' %}">
                <img src="{% static 'story3/icons/jj.jpg' %}">
            </div>
        </div>

        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>